*{margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior:smooth;
font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
list-style: none;
text-decoration: none;
}

header{position:fixed; width: 100%; top: 0; right: 0; z-index: 1000; display: flex; align-items: center; justify-content: space-between; padding:35px 10%; }


.logo img{max-width: 120px;
          height: auto; margin-left: 100px; margin-top: -10px;}
.navmenu{display: flex;margin-left: 500px;transition: 0.3s ease;animation: fadeIn 1s;}
.navmenu a{color: #FF4563;font-size: 16px; padding: 10px 20px; font-weight: 400; }
.navmenu a:hover{color:#FCA5A8; }
ul li .active {
	background-color:#FF4563;
    color: white;
    border-radius: 7%;
	}
.container {
  display: flex;
  justify-content: center;
}

.product-table-section {
  margin-top: 50px;
  text-align: left;
  margin-bottom: 20px;
}

.product-table {
  margin: 0 auto;
  width: 70%;
  border-collapse: collapse;
  background-color:#FFF0F0;
}

.product-table th,
.product-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;text-align: center
}

.product-table th {
  background-color: #f5f5f5;
}
.footer .privacy-policy-buttton {display: inline-block;
  padding: 10px 20px;

  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all .42s ease;}

.footer .privacy-policy-buttton:hover {
	color: #000000;}
.footer {
  background-color: #FF4563;
  padding: 20px;
  text-align: center;
}

.footer .contact,
.footer .privacy-policy {
  margin-bottom: 10px;
}

.footer .contact-button {
  display: inline-block;
  padding: 10px 20px;

  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
